@import '../variables';

header {
  padding: $large-vertical-spacing;
  text-align: center;
  border-bottom: 1px solid $light-grey-color;

  .title {
    font-size: $large-font-size;
    font-family: $default-font-family;
    line-height: $large-line-height;
  }
}